.banner_container{
    @include content;
    display: flex;
    position: relative;
    margin: auto;

    .banner_img,
    .banner_opacity {
        @include content;
        height: 223px;
        object-fit: cover;
        border-radius: 20px;
        margin: 30px auto;

        @media screen and (max-width: 750px) {
            height: 163px;
        } 
    }  

    .banner_opacity {
        background-color: $bg-black;
        opacity: 0.3;
        position: absolute;
    }

    .banner_container_title {
        @include content;
        @include flexrow-contentcenter;
        position: absolute;
        top: 12vh;

        @media screen and (max-width: 750px) {
            top: 9vh;
        } 

        @media screen and (max-width: 380px) {
            margin: 0 0 0 11px;
        } 
        
        .banner_title {
            color: $text-white;
            font-weight: 500;

            @media screen and (max-width: 750px) {
            font-size: 24px;
            } 
        }
    }
}