.about_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
    .about_content {
        display: flex;
        justify-content: space-between;
        background-color: $bg-red;
        width: 1023px;
        color: $text-white;
        border-radius: 7px;

        .about_title {
            font-weight: 500;
            padding-left: 10px;
        }

        .about_button_container {
            background-color: $bg-red;
            color: $text-white;
            border-radius: 7px;
            cursor: pointer;
            border: none;
            transition: all 0.7s ease;
            transform: translate(-20px) rotate(180deg);

            .fa-chevron-up {
                transition: all 0.7s ease;
                transform: translate(-20px) rotate(-180deg);
                }
            
            .fa-chevron-down,
            .fa-chevron-up {
                display: flex;
                align-items: center;
                padding-right: 20px;
               
            }
        }

        .about_button_container_rotateDown {
            .fa-chevron-down {
                transition: all 0.7s ease-out;
                transform: translate(-20px) rotate(180deg);
            }
        }
    }

    .about_text_content {
        background-color: $bg-grey;
        width: 1023px;
        border-radius: 7px;
        
        .about_text {
            color: $text-red;
            font-size: 18px;
            padding: 0 25px;
        }
    }        
}