.about_container {
    @include flexcolumn-itemscenter;
    width: 100%;
    margin-bottom: 30px;
        
    .about_content {
        @include flexrow-spacebitemscenter;
        @include aboutContent;
        background-color: $bg-red;
        color: $text-white;
        cursor: pointer;
        border: none;
    
        .about_title {
            font-weight: 500;
            padding-left: 10px;
        }
            
        .arrow {
            width: 24px;
            height: 14px;
            padding-right: 20px;
            transition: transform 0.5s;
        }

        &.rotateArrow .arrow {
            transform: translate(-20px) rotate(-0.5turn);
        } 
    }
    
    .about_text_content {
        @include aboutContent;
        background-color: $bg-grey;
           
        .about_text {
            color: $text-red;
            font-size: 18px;
            padding: 0 25px;
        }
    }        
}