.error_container_all {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;

    .error_title{
        font-size: 200px;
        font-weight:700;
        margin: 40px 0;
    }

    .error_text{
        font-size: 36px;
        margin-bottom: 100px;
    }

    .error_link{
        font-size: 18px;
        text-decoration: underline;
    }
}