.error_container_all {
    @include flexcolumn-itemscenter;
    color: $text-red;
    margin-bottom: 100px;

    .error_title{
        font-size: 200px;
        font-weight:700;
        margin: 40px 0;

        @media screen and (max-width: 750px) {
            font-size: 130px;
        } 
    }

    .error_text{
        font-size: 36px;
        margin-bottom: 100px;

        @media screen and (max-width: 750px) {
            font-size: 24px;
        } 
    }

    .error_link{
        color: $text-red;
        font-size: 18px;
        text-decoration: underline;

        @media screen and (max-width: 750px) {
            font-size: 16px;
        } 
    }
}