.navbar_container {
    @include flexrow-spaceb;
    margin: 30px 50px;

    nav {
        @include flexrow-itemscenter;
        text-transform: uppercase;
        gap: 50px;
    }

    .navbar_link{
        color: $text-red;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
    }
}