.slide_show_container {
    .slide_show_pictures{
        @include flexcolumn-itemscenter;
        margin: 45px 0;

        img{
            display: none;
        
            &.visible {
                @include content;          
                display: flex; 
                object-fit:cover;
                border-radius: 15px;
                height: 415px;

                @media screen and (max-width: 750px) {
                    height: 330px;
                }

                @media screen and (max-width: 380px) {
                    height: 280px;
                }
            }  
        }   

        .slide_container {
            @include content; 
            @include flexcolumn-itemscenter;
            top: -130px;
            position: relative;

            .slide_arrow { 
                @include flexrow-spaceb;
                bottom: 25px;
                padding: 2px;
                cursor: pointer;
                position: absolute;

                @media screen and (max-width: 750px) {
                    height: 44px;
                } 
            }

            .slide_arrow_right {
                right: 3%;
            }
    
            .slide_arrow_left {
                left: 3%;
            }
            
            .slide_number_img {
                color: $text-white;
                position: absolute;
                top: 70px;
            }        
        }
    }
}